body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
    background-image: url(./imagens/netflix\ background.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    content: '';
    background-color: rgb(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login-body{
    padding: 60px;
    z-index: 90;
    position: relative;
    height: 550px;
    max-width: 450px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, .75);
    border-radius: 4px;
    box-sizing: border-box;
    transform: translateX(-50%);
}



.login-body h2{
    color: #fff;
    font-size: 32px;
    margin-top: 0px;

}

.login-body input{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login-body input:hover{
    background-color: #444;
}

.input-box{
    margin-bottom: 25px;
}

.login-body button{
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    background-color: #e50914;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

.login-body button:hover{
    background-color: #ee2b35;
    cursor: pointer;
}

.suport{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.suport input{
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;
    
}

.remember span{
    margin-right: 5px;
    height: 25px;
}

.help a{
    text-decoration: none;
    color: #737373;
}

.help a:hover{
    text-decoration: underline;
}

.sing-up{
    display: flex;
    color: #737373;
    font-size: 16px;
}

.sing-up a{
    color: #fff;
    text-decoration: none;
}

.sing-up a:hover{
    text-decoration: underline;
}


.terms{
    display: flex;
    color: #737373;
    font-size: 14px;
}

.terms a{
    color: rgb(0, 113, 235);
    text-decoration: none;
}

.terms a:hover{
    text-decoration: underline;
}